<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
	<br />
	<div>
		Formulario de creacion/modificacion
		<form th:action="@{/persona/guardarConjunto}" method="post">
			<div class="form-group">
				<label for="exampleCI">CI:</label> 
				<input class="form-control" id="exampleCI"
					placeholder="Ingrese CI" th:value="${persona.ci}" name="ci" /> 
			</div>
			<div class="form-group">
				<label for="exampleNombre">Nombre:</label> 
				<input class="form-control" id="exampleNombre"
					placeholder="Ingrese nombre" th:value="${persona.nom_bre}" name="nom_bre" /> 
			</div>
			<div class="form-group">
				<label for="exampleApellido">Apellido:</label> 
				<input class="form-control" id="exampleApellido"
					placeholder="Ingrese Apellido"  th:value="${persona.apellido}" name="apellido" /> 
			</div>
			
			<div class="form-group">
				<label for="exampleCodigo">Codigo:</label> 
				<input class="form-control" id="exampleCodigo"
					placeholder="Ingrese Codigo" th:value="${articulo.codigo}" name="codigo" />
				 <span id="mensaje"></span>
			</div>
			<div class="form-group">
				<label for="exampleDescripcion">Descripcion:</label> 
				<input class="form-control" id="exampleDescripcion"
					placeholder="Ingrese descripcion" th:value="${articulo.descripcion}" name="descripcion" /> 
			</div>
			<div class="form-group">
				<label for="examplePrecio">Precio:</label> 
				<input class="form-control" id="examplePrecio"
					placeholder="Ingrese precio"  th:value="${articulo.precio}" name="precio"/> 
			</div>
			
			<button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
			<button type="submit" class="btn btn-primary" name="Cancelar">Cancelar</button>
			
		</form>
		
		<div class="alert" th:if="${mensaje ne null}">
			<span th:text="${mensaje}"></span>
		</div>
		
	</div>
	<script type="text/javascript">
$('#exampleCodigo').blur( function() {
	$('#mensaje').load('/rest/libre/articulocodigo', 
			"codigo="+$('#exampleCodigo').val(), function(){
		var theValue = $("#mensaje").html();
		if(theValue == "Ya existe"){
			$('#btnGuardar').prop('disabled', true);
		}else{
			$('#btnGuardar').prop('disabled', false);
		}
	});
	}
)
</script>
</body>
</html>