<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" 
      href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<br /><br /><br /><br /><br />
	<div>
    	<span th:text="'Mensaje: ' + ${mensaje}">Mensaje: Mensaje desde MVC con ModelANdView</span>
	</div>
	<div>
		CI: <span th:text="${persona.ci}">5454546</span><br />
		Nombre: <span th:text="${persona.nombre}">Nombre</span><br />
		Apellido: <span th:text="${persona.apellido}">Apellido</span><br />
	</div>
	
	<div class="container">
	<br />
	<div class="alert alert-success">
	<strong>Exito!</strong> Funciona de acuerdo a lo esperado.
	</div>
</div>
	
</body>
</html>