<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
	<br />
	Usuario: <span sec:authentication="name">usuario</span>
	<br />
	Roles: <span sec:authentication="principal.authorities">Roles</span>
	<br />
	<div sec:authorize="isAuthenticated()">
  Autenticado!.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  Administradores!.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  Usuarios!.
</div>
	
	<div th:if="${!editando}">
		<table class="table">
			<thead class="thead-dark">
				<tr>
				<th scope="col"></th>
					<th scope="col">CI</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona: ${personas}">
				<td>
				<form th:action="@{|/persona/editar/${persona.id}|}">
					<input type="submit" value="Editar">
				</form>
				<form th:action="@{/persona/borrar}" method="post" onsubmit="return confirm('Esta seguro de eliminar la persona?');">
					<input type="hidden" th:value="${persona.id}" name="id">
					<input type="submit" value="Borrar">
				</form>
				</td>
					<td th:text="${persona.ci}"></td>
					<td th:text="${persona.nom_bre}"></td>
					<td th:text="${persona.apellido}"></td>
				</tr>
			</tbody>
		</table>
		<form th:action="@{/persona/agregar}" method="get">
			<button type="submit" class="btn btn-primary">Agregar</button>
		</form>
		<form th:action="@{/persona/reportepdf}" method="post">
			Filtro: <input name="filtro">
			<button type="submit" class="btn btn-primary">Generar reporte</button>
		</form>
		
	</div>
	<div th:if="${editando}">
		Formulario de creacion/modificacion
		<form th:object="${persona}" th:action="@{/persona/guardar}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label for="exampleCI">CI:</label> 
				<input class="form-control" id="exampleCI"
					placeholder="Ingrese CI" th:field="*{ci}" /> 
			</div>
			<div class="form-group">
				<label for="exampleNombre">Nombre:</label> 
				<input class="form-control" id="exampleNombre"
					placeholder="Ingrese nombre" th:field="*{nom_bre}" /> 
			</div>
			<div class="form-group">
				<label for="exampleApellido">Apellido:</label> 
				<input class="form-control" id="exampleApellido"
					placeholder="Ingrese Apellido"  th:field="*{apellido}" /> 
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<button type="submit" class="btn btn-primary" name="Cancelar">Cancelar</button>
		</form>
	</div>
</body>
</html>